In [1]:
import pandas as pd                     # importing relevant libraries
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
pd.set_option('display.max_columns', None)

In [3]:
data = pd.read_csv('learningSet.csv')       # import data

In [ ]:
print(data.shape)
#data.head(10)

In [ ]:
data['TARGET_B'].value_counts() # checking target A counts

In [ ]:
data['TARGET_D'].value_counts() # checking target D value counts

In [ ]:
data.dtypes

# Checking and Handling NaN Values in the Categorical DataSet

In [ ]:
data.isna().sum()          # checking if nans exist and if yes, sum them

In [ ]:
data.isna().sum()/len(data)    # nan percentage per feature

In [ ]:
nulls_percent_df = pd.DataFrame(data.isna().sum()/len(data)).reset_index()
#nulls_percent_df
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
# nulls_percent_df

In [ ]:
 display(nulls_percent_df[nulls_percent_df['nulls_percentage']!=0])
# # nulls_percent_df[nulls_percent_df['nulls_percentage']!=0].head()
# # nulls_percent_df[nulls_percent_df['nulls_percentage']!=0].tail()

In [ ]:
drop_list = [ ]

In [ ]:
columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>0.5]   # checking for columns above a 0.5 threshold to get candidates for drop
#columns_above_threshold['column_name']

In [ ]:
drop_list = list(columns_above_threshold['column_name'])     # drop list
len(drop_list)

# Remove columns with null values greater than 50 Percent

In [ ]:
cols = ['OSOURCE', 'ZIP']
for item in cols:
    drop_list.append(item)  
print(drop_list)

# More Cleaning Activities

In [ ]:
data['MAILCODE'].value_counts()

In [ ]:
data['MAILCODE'] = data['MAILCODE'].apply(lambda x: x.replace(" ", "A"))
data['MAILCODE'].value_counts()

In [ ]:
data = data.apply(lambda x: x.replace(" ", np.NaN))
data.head()

In [ ]:
data.isna().sum()/len(data)

In [ ]:
f = pd.DataFrame(data.isna().sum()/len(data)).reset_index()
nulls_percent_df
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df

# Separating Target, Numerical Features, and Categorical Features

In [ ]:
Y = data[['TARGET_B', 'TARGET_D']]
Y.to_csv('Y_df_', index = False)

In [ ]:
numericals = data.select_dtypes(np.number)                             # numerical data
numericals = numericals.drop(columns = ['TARGET_B', 'TARGET_D'])
#numericals.head()

In [ ]:
numericals.shape

In [ ]:
categoricals = data.select_dtypes(object)        # categorical data
categoricals.head()

In [ ]:
categoricals.shape

# Working with categorical columns

In [ ]:
pd.DataFrame(categoricals['STATE'].value_counts()).reset_index()

In [ ]:
df = pd.DataFrame(categoricals['STATE'].value_counts()).reset_index()      # placing states with counts under 2500 into other

df.columns = ['state', 'count']
other_states = list(df[df['count']<2500]['state'])
#other_states
def clean_state(x):
    if x in other_states:
        return 'other'
    else:
        return x
    
categoricals['STATE'] = list(map(clean_state, categoricals['STATE']))

In [ ]:
#categoricals['STATE'].value_counts()

In [ ]:
categoricals['DOMAIN'].value_counts(dropna=False)                          # handling the domain column
categoricals['DOMAIN'] = categoricals['DOMAIN'].fillna('R2')

In [ ]:
categoricals['DOMAIN_A'] = list(map(lambda x: x[0], categoricals['DOMAIN']))
categoricals['DOMAIN_B'] = list(map(lambda x: x[1], categoricals['DOMAIN']))

In [ ]:
categoricals.DOMAIN_A.value_counts()

In [ ]:
categoricals = categoricals.drop(columns=['DOMAIN'])
categoricals.head()

In [ ]:
categoricals['MDMAUD_A'].value_counts()
drop_list = drop_list + ['MDMAUD']

# Replacing Null Values

In [ ]:
categoricals['CLUSTER'].value_counts(dropna=False)               # handling more nulls or nans
categoricals['CLUSTER'].sort_values().unique()

In [ ]:
# sorted(categoricals['CLUSTER'].unique())
# categoricals['CLUSTER'].value_counts()

In [ ]:
sorted(categoricals['CLUSTER'].value_counts().index)
categoricals['CLUSTER'] = categoricals['CLUSTER'].fillna('40')

In [ ]:
# print(categoricals['GENDER'].value_counts())

In [ ]:
categoricals['GENDER'] = categoricals['GENDER'].fillna('F')
# categoricals['GENDER']  = categoricals['GENDER'] .apply(lambda x: x.replace(" ", "F"))

In [ ]:
categoricals['GENDER'] = categoricals['GENDER'].replace(['U', 'J', 'C', 'A'], 'Others')
categoricals['GENDER'].value_counts()

In [ ]:
categoricals['GENDER'].value_counts(dropna=False)

In [ ]:
categoricals['HOMEOWNR'] = categoricals['HOMEOWNR'].fillna('U')

In [ ]:
print(categoricals['HOMEOWNR'].value_counts(dropna = False))

In [ ]:
categoricals['HOMEOWNR'].isna().sum()

In [ ]:
 categoricals['HOMEOWNR']  = categoricals['HOMEOWNR'] .apply(lambda x: x.replace(" ", "U"))
 categoricals['HOMEOWNR'].value_counts()

In [ ]:
# categorical['DATASRCE'] = categorical['DATASRCE'].value_counts()

# Removing columns with similar information

In [ ]:
#categoricals['RFA_6'].value_counts()

In [ ]:
# We will keep the column RFA_2X. We will delete rest of the columns 

for col_name in categoricals.columns:
    if "RFA" in col_name:
        drop_list.append(col_name)

In [ ]:
drop_list.remove('RFA_2R')
drop_list.remove('RFA_2A')
drop_list

In [ ]:
# categoricals = categoricals.drop(columns=drop_list)
# categoricals.head()

In [ ]:
categoricals.isna().sum()

In [ ]:
categoricals = categoricals.drop(columns=[col for col in drop_list if col in categoricals])   # dropping cols in the drop_list
categoricals.head()

In [ ]:
categoricals.shape

In [ ]:
categoricals = categoricals.dropna(axis = 1)
categoricals

In [ ]:
categoricals.to_csv('categorical_df_', index = False)

# Working with Numerical Columns

In [ ]:
numericals.head()

In [ ]:
numericals.shape

In [ ]:
df = pd.DataFrame(numericals.isna().sum()).reset_index()
df.columns = ['column_name', 'nulls']
df[df['nulls']>0]

# Filling NULL values together with plots

In [ ]:
numericals['AGE'].value_counts(dropna=False)

In [ ]:
sns.distplot(numericals['AGE'])
plt.show()

In [ ]:
numericals['AGE'] = numericals["AGE"].fillna(np.mean(numericals['AGE']))
#probably would be a bit better to use a predictive method here but this works
sns.distplot(numericals['AGE'])
plt.show()

In [ ]:
sns.distplot(numericals['INCOME']) 
plt.show()

In [ ]:
# looks like the variable is actually categorical. We can verify it by using value_counts()
print(numericals['INCOME'].value_counts(dropna=False))
#numerical['INCOME'] = numerical['INCOME'].astype('object')

In [ ]:
#numerical.INCOME = np.where(numerical['INCOME']=='5.0', 5.0, numerical['INCOME'])
numericals['INCOME'] = numericals['INCOME'].fillna(5.0) # Replacing the null values with the most represented category
# earlier we did this by predicting INCOME from a number of other numeric fields

In [ ]:
sns.distplot(numericals[numericals['CLUSTER2'].isna()==False]['CLUSTER2']) 
plt.show()

In [ ]:
numericals['CLUSTER2'].value_counts()

In [ ]:
np.mean(numericals['CLUSTER2'])

In [ ]:
numericals['CLUSTER2'] = numericals['CLUSTER2'].fillna(np.ceil(np.mean(numericals['CLUSTER2'])))

In [ ]:
np.ceil(np.mean(numericals['CLUSTER2']))

In [ ]:
sns.distplot(numericals['CLUSTER2']) 
plt.show()

In [ ]:
numericals

In [ ]:
numericals['DMA'].value_counts()

In [ ]:
numericals['DMA'].isna()

In [ ]:
numericals = numericals.dropna(axis = 1)   # all columns with nans are dropped
numericals

In [ ]:
numericals.to_csv('numerical_df_', index = False)