In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
pd.set_option('display.max_columns', None)

In [ ]:
data = pd.read_csv('learningSet.csv')

In [ ]:
print(data.shape)
data.head(10)

In [ ]:
data['TARGET_B'].value_counts() # checking target A counts

In [ ]:
data['TARGET_D'].value_counts() # checking target D value counts

In [ ]:
data.dtypes

# Checking and Handling NaN Values in the Categorical DataSet

In [ ]:
data.isna().sum()

In [ ]:
data.isna().sum()/len(data)

In [ ]:
nulls_percent_df = pd.DataFrame(data.isna().sum()/len(data)).reset_index()
#nulls_percent_df
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
# nulls_percent_df

In [ ]:
 display(nulls_percent_df[nulls_percent_df['nulls_percentage']!=0])
# # nulls_percent_df[nulls_percent_df['nulls_percentage']!=0].head()
# # nulls_percent_df[nulls_percent_df['nulls_percentage']!=0].tail()

In [ ]:
drop_list = [ ]

In [ ]:
columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>0.5]
#columns_above_threshold['column_name']

In [ ]:
drop_list = list(columns_above_threshold['column_name'])
print(drop_list)

# Remove columns with null values greater than 50 Percent

In [ ]:
cols = ['OSOURCE', 'ZIP']
for item in cols:
    drop_list.remove(item)  
print(drop_list)

# More Cleaning Activities

In [ ]:
data['MAILCODE'].value_counts()

In [ ]:
data['MAILCODE'] = data['MAILCODE'].apply(lambda x: x.replace(" ", "A"))

In [ ]:
data = data.apply(lambda x: x.replace(" ", np.NaN))
data.head()

In [ ]:
data.isna().sum()/len(data)

In [ ]:
f = pd.DataFrame(data.isna().sum()/len(data)).reset_index()
nulls_percent_df
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df

In [ ]:
nulls_percent_df[nulls_percent_df['nulls_percentage']!=0]

In [ ]:
columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>0.25]
columns_above_threshold['column_name']

In [ ]:
columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>0.5]
columns_above_threshold['column_name']

In [ ]:
drop_list = list(columns_above_threshold['column_name'])
print(drop_columns_list)

In [ ]:
cols1 = ['WEALTH1', 'WEALTH2', 'VETERANS', 'SOLIH']
for item in cols1:
    drop_columns_list.remove(item)  
print(drop_columns_list)

# Separating Target, Numerical Features, and Categorical Features

In [ ]:
Y = data[['TARGET_B', 'TARGET_D']]
#Y

In [ ]:
numerical = data.select_dtypes(np.number)
numerical = numerical.drop(columns = ['TARGET_B', 'TARGET_D'])
#numerical.head()

In [ ]:
numerical.shape

In [ ]:
categoricals = data.select_dtypes(object)
categoricals.head()

In [ ]:
categoricals.shape

# Working with categorical columns

In [ ]:
pd.DataFrame(categoricals['STATE'].value_counts()).reset_index()

In [ ]:
df = pd.DataFrame(categorical['STATE'].value_counts()).reset_index()

df.columns = ['state', 'count']
other_states = list(df[df['count']<2500]['state'])
#other_states
def clean_state(x):
    if x in other_states:
        return 'other'
    else:
        return x
    
categorical['STATE'] = list(map(clean_state, categorical['STATE']))

In [ ]:
categorical['STATE'].value_counts()

In [ ]:
categorical['DOMAIN'].value_counts(dropna=False)
categorical['DOMAIN'] = categorical['DOMAIN'].fillna('R2')

In [ ]:
categorical['DOMAIN_A'] = list(map(lambda x: x[0], categorical['DOMAIN']))
categorical['DOMAIN_B'] = list(map(lambda x: x[1], categorical['DOMAIN']))

In [ ]:
categorical.DOMAIN_A.value_counts()

In [ ]:
categorical = categorical.drop(columns=['DOMAIN'])
categorical.head()

In [ ]:
categorical['MDMAUD_A'].value_counts()
drop_list = drop_list + ['MDMAUD_R', 'MDMAUD_F','MDMAUD_A']

# Replacing Null Values

In [ ]:
categorical['CLUSTER'].value_counts(dropna=False)
categorical['CLUSTER'].sort_values().unique()

In [ ]:
sorted(categorical['CLUSTER'].unique())
categorical['CLUSTER'].value_counts()

In [ ]:
sorted(categorical['CLUSTER'].value_counts().index)
categorical['CLUSTER'] = categorical['CLUSTER'].fillna('40')

In [ ]:
print(categoricals['GENDER'].value_counts())

In [ ]:
#categoricals['GENDER'] = categoricals['GENDER'].fillna('F')
categoricals['GENDER']  = categoricals['GENDER'] .apply(lambda x: x.replace(" ", "F"))

In [ ]:
categoricals['GENDER'] = categoricals['GENDER'].replace(['U', 'J', 'C', 'A'], 'Others')
categoricals['GENDER'].value_counts()

In [ ]:
print(categoricals['HOMEOWNR'].value_counts())

In [ ]:
categoricals['HOMEOWNR']  = categoricals['HOMEOWNR'] .apply(lambda x: x.replace(" ", "U"))
categoricals['HOMEOWNR'].value_counts()

In [ ]:
categorical['DATASRCE'] = categorical['DATASRCE'].value_counts()

# Removing columns with similar information

In [ ]:
categorical['RFA_6'].value_counts()

In [ ]:
# We will keep the column RFA_2X. We will delete rest of the columns 

for col_name in categorical.columns:
    if "RFA" in col_name:
        drop_list.append(col_name)

In [ ]:
drop_list.remove('RFA_2R')
drop_list.remove('RFA_2A')
drop_list

In [ ]:
categorical = categorical.drop(columns=drop_list)
categorical.head()

In [ ]:
categorical.isna().sum()

In [ ]:
data['OSOURCE'].value_counts(dropna=False).head(60)

In [ ]:
data['OSOURCE'] = data['OSOURCE'].fillna('MBC')

In [ ]:
categorical = categorical.drop(columns=['OSOURCE', 'ZIP'])
categorical.head()

# Working with Numerical Columns

In [ ]:
numerical.head()

In [ ]:
numerical.shape

In [ ]:
df = pd.DataFrame(numerical.isna().sum()).reset_index()
df.columns = ['column_name', 'nulls']
df[df['nulls']>0]

# Filling NULL values together with plots

In [ ]:
numerical['AGE'].value_counts(dropna=False)

In [ ]:
sns.distplot(numerical['AGE'])
plt.show()